{% extends 'admin/base/base.html' %}

{% block title %}
  首页
{% endblock %}

{% block content_header %}
  用户信息
{% endblock %}

{% block content_option_desc %}
  弱者死于途中
{% endblock %}

{% block content %}
<main id="course-container">
    <div  class="w1200">

      <h3>python之禅</h3><br>
    <p>美 优于 丑 <br>

明确 优于 隐晦<br>

简单 优于 复杂<br>

复杂 也好过 繁复<br>

扁平 优于 嵌套<br>

稀疏 优于 拥挤<br>

可读性很重要<br>

固然代码实用与否 比洁癖更重要，<br>

我们以为的特例也往往没有特殊到必须打破上述规则的程度<br>

除非刻意地静默，<br>

否则不要无故忽视异常<br>

如果遇到模棱两可的逻辑，请不要自作聪明地瞎猜。<br>

应该提供一种，且最好只提供一种，一目了然的解决方案<br>

当然这是没法一蹴而就的，除非你是荷兰人<br>

固然，立刻着手 好过 永远不做。<br>

然而，永远不做 也好过 不审慎思考一撸袖子就莽着干<br>

如果你的实现很难解释，它就一定不是个好主意<br>

即使你的实现简单到爆，它也有可能是个好办法<br>

命名空间大法好，不搞不是地球人！</p>
    </div>
  </main>
{% endblock %}